#choose-user-to-edit-container{
    width: 15vw;
    margin-top: 1rem;
}
#admin-panel-container{
    margin-top: 15vh;
    padding-top: 5vh;
}

#select-user-container{
    border: 1px black solid;
    padding: 1rem;
    border-radius: 25px;
}

.button-style{
    border: 0px;
    height: 2rem;
    background-color: rgb(236, 236, 236);
    border-radius: 0.5rem;
}
.button-style:hover{
    cursor: pointer;
    border: 0px;
    transition: 0.1s;
    transform: scale(1.05);
    background-color: rgb(231, 231, 231);
}