#latest-posts-container{
    width: 50vw;
    padding: 1rem;
}

#current-blog-title{
    
}

#back-arrow-button{
    height: 2rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: 0rem;
}

#back-arrow-button:hover{
    border: 0.1rem solid #666666;
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}


#post-display-container{
    height: 10rem;
    border: 0.1rem black solid;
    border-radius: 25px;
    padding-top: 0.1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    object-fit: contain; 
    width: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}


#post-display-container::-webkit-scrollbar {
    width: 8px;
    margin: 100px;
}
#post-display-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}
#post-display-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}


#post-display-container:hover{
    transition: all 0.2s;
    transform: scale(1.02);
    cursor: pointer;
}

#add-post-button{
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: 0rem;
}

#add-post-button:hover{
    border: 0.1rem solid #666666;
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}

#search-tags-input{
    border-radius: 1rem;
    border: 0px;
    background-color: #e7e6e6;
    width: 100%;
    height: 2rem;
}
#search-tags-input:focus{
    outline: none;
}


.handle-blogpost-button:hover{
    cursor: pointer;
    background-color: #dadada;
}
.handle-blogpost-button{
    width: 15vw;
    height: 30%;
    border-radius: 0.5rem;
    border: 0rem;
}

#blog-buttons-container{
    padding: 1rem;
}

#blog-base{
    margin-top: 15vh;
    position: relative;
}