#header-container{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    min-width: 100vw;
    background-color: #536797;
    height: 15vh;
    z-index: 9999;
}

#header-logo-image{
    margin-left: 1rem;
}
#header-logo-image:hover{
    cursor: pointer;
}

#header-route-link-container{
    width: 60vw;
}
.header-route-link:active{
    color: #007bff;
}
.header-route-link.active{
    color: #007bff;
}

#header-invacc-container{
    margin-right: 1rem;
}

#outlet-container{
    height: 85vh;
    width: auto;
}