#header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
  
    background-color: #536797;
    z-index: 9999;
  
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
  
    padding: 0.75rem 1rem;
  }

#outlet-container{
    height: 85vh;
    width: auto;
}


/*MARK: logo */
#logo-container {
    grid-column: 1;
    grid-row: 1;
  
    display: flex;
    align-items: flex-start;
  
    height: clamp(2.5rem, 6vh, 4rem); /* REAL height */
  }
  
  #header-logo-image {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

#header-logo-image:hover{
    cursor: pointer;
}



/*MARK: nav */
#header-route-link-container {
    grid-column: 2;
    grid-row: 2;
  
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;

  }

.header-route-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  
    text-decoration: none;
    color: white;
    background: #2c2c2c;
    border-radius: 8px;
  
    white-space: nowrap; /* prevent wrapping */
  }

/* on hold */
.header-route-link:active{
    color: #007bff;
}
/* when active */
.header-route-link.active{
    color: #1485ff;
    background-color: white;
}


/*MARK: login */
#login-container {
    grid-column: 3;
    grid-row: 1 / 3;
  
    display: flex;
    align-items: center;
  }


#profile-img{
    height: 50%;
    width: auto;
    border-radius: 40%;
}
#user-info-container{
    margin-right: 1rem;
}