#login-page-container{
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    background-color: #536797;
}
#login-input-container{
    width: 30vw;
    height: 30vw;
    background-color: #D9D9D9;
    border-radius: 25px;
}
#login-inputfield-container{
    height: 30%;
    width: 60%;
}

#login-header{
    font-family: 'Courier New', Courier, monospace;
}
.login-input{
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0rem;
    outline: none;
}
.login-input:focus {
    border: 1px #004cff solid;
}
#login-button{
    height: 2rem;
    border-radius: 0.5rem;
    border: 0rem;
}
#login-button:hover{
    border: 0.1rem solid #666666;
    transition: 0.2s;
    transform: scale(1.05);
}


#login-back-arrow-button{
    height: 2rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: 0rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#login-back-arrow-button:hover{
    border: 0.1rem solid #666666;
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}
