/* #sidebar-full-container{
    position: fixed;
    top: 15vh;
    right: 0;

    width: 20vw;
    min-width: 250px;
    height: 85vh;

    border-left: 1px #666 solid;
    background-color: #dcdcdc;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-show{
    position: fixed;
    justify-self: end;
    border: none;
    display: flex;
    justify-content: center;
    padding-right: 10rem;
}

#show-sidebar-button{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    position: fixed;
    margin-right: 100%;
    margin-top: 20%;
}
#show-sidebar-button:hover{
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.02);
} */
#show-sidebar-button{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;

    position: absolute;
    left: -2rem;
    top: 1rem;
}
#show-sidebar-button:hover{
    cursor: pointer;
    background-color: #e4e4e4;
}
#sidebar-show{
    position: fixed;
    top: 15vh;
    right: 0;

    padding-right: 1rem;
}
#sidebar-full-container{
    position: fixed;
    top: 15vh;
    right: 0;

    width: 20vw;
    min-width: 250px;
    height: 85vh;

    border-left: 1px #666 solid;
    background-color: #dcdcdc;

    display: flex;
    flex-direction: column;
    align-items: center;
}
