#sidebar-full-container{
    position: fixed;
    height: 85vw;
    justify-self: end;
    max-width: 20%;
    min-width: 20%;
    border-left: 1px #666 solid;
    border-bottom: 1px #666 solid;
    display: flex;
    justify-content: center;
    overflow: visible;
    /* clip-path: inset(0 0 0 -100vw); */
    background-color: #dcdcdc;
}


#sidebar-show{
    position: fixed;
    justify-self: end;
    border: none;
    display: flex;
    justify-content: center;
    /* overflow-x: hidden; */
    padding-right: 1rem;
}

#show-sidebar-button{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    position: absolute;
    margin-right: 100%;
    margin-top: 20%;
}
#show-sidebar-button:hover{
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.02);
}
