#latest-pages-container{
    width: 50vw;
    padding: 1rem;
}


#back-arrow-button{
    height: 2rem;
    width: 4rem;
    border-radius: 0.5rem;
    border: 0rem;
}

#back-arrow-button:hover{
    border: 0.1rem solid #666666;
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}


#page-display-container{
    height: 10rem;
    border: 0.1rem black solid;
    border-radius: 25px;
    padding-top: 0.1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    object-fit: contain; 
    width: 80%;
    overflow-y: scroll;
}

#page-display-container:hover{
    transition: all 0.2s;
    transform: scale(1.02);
    cursor: pointer;
}

#latest-wikis-container{
    width: 60vw;
    margin-top: 15vh;
}

#wiki-display-container{
    height: 10rem;
    border: 0.1rem black solid;
    margin-left: 1rem;
    border-radius: 25px;
    padding-top: 0.1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    object-fit: contain; 
    width: 80%;
    overflow-y: scroll;
}

#wiki-display-container::-webkit-scrollbar {
    width: 8px;
    margin: 100px;
}
#wiki-display-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}
#wiki-display-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
#page-display-container::-webkit-scrollbar {
    width: 8px;
    margin: 100px;
}
#page-display-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}
#page-display-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

#wiki-display-container:hover{
    transition: all 0.2s;
    transform: scale(1.02);
    cursor: pointer;
}

#add-page-button{
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: 0rem;
}

#add-page-button:hover{
    border: 0.1rem solid #666666;
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}


#wiki-page-version-container{
    margin-top: 1rem;
    margin-left: 1rem;
    border-top: 0.1rem #666666 solid;
}

#wiki-menu-buttons-container{
    padding: 1rem;
}

.wiki-choice-button:hover{
    cursor: pointer;
    background-color: #dadada;
}
.wiki-choice-button{
    width: 15vw;
    height: 30%;
    border-radius: 0.5rem;
    border: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}


#add-wiki-button{
    border-radius: 0.5rem;
    border: 0rem;
    height: 2rem;
}
#add-wiki-button:hover{
    cursor: pointer;
    background-color: #dadada;
}


#wiki-content-container{
    width: 80%;
    border-radius: 1rem;
    border: 0.05rem #666666 solid;
    padding: 1rem;
    line-height: 1.25rem;
}

#go-to-wiki-page{
    background-color: #ebebeb;
    margin-top: 1rem;
    border-radius: 1rem;
    overflow-y: hidden;
    padding-left: 0.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
}
#go-to-wiki-page:hover{
    cursor: pointer;
    background-color: #e0e0e0;
    transition: 0.1s;
    transform: scale(1.02);
}

#show-wiki-peages-container{
    margin-top: 15vh;
}

#wiki-page-container{
    margin-top: 15vh;
}

#search-tags-input{
    border-radius: 1rem;
    border: 0px;
    background-color: #e7e6e6;
    width: 100%;
    height: 2rem;
}
#search-tags-input:focus{
    outline: none;
}
